html {
  background: black;
}

body {
  font-family: "VT323";
  color: #00D100;
}

#mainView, #interface {
  padding: 5px;
  width: 48%;
  float: left;
}

#interface {
  height: 250px;
  overflow-y: scroll;
}

#inventory input {
  float: right;
}

#inventory li {
  clear: both;
}

#mainView>div {
  height: 250px;
  overflow-y: scroll;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 209, 82, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 209, 82, 0.8));
}
